[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "==22.1"
django = "==4.1.3"
djangorestframework = "==3.14.0"
pyjwt = "==2.6.0"
drf-spectacular = "==0.24.2"
django-redis = "==5.2.0"
psycopg2 = "==2.9.5"
django-cors-headers = "==3.13.0"
mysqlclient = "2.1.1"
python-dotenv = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
install = "pipenv install"
sync = "pipenv sync"
runserver = "python manage.py runserver"
inspectdb = "python manage.py inspectdb"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
autopep8 = "autopep8 app authentication project --recursive --in-place -a --exclude __pycache__/"